*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #081828;
    --terc-color: #f2ba65;
    --quart-color: #d1a054;
    --hoover-color: #e2e2e2;
  }

  header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
  }

  header > a > img {
    max-width: 150px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 0px;
  }

  header > div {
    color: var(--quart-color);
    padding:15px;
    margin-left: 0px;
  }

 h1 {
    border-bottom: solid red 3px;
 }

 .info {
    color: var(--quart-color);
    padding: 25px;
    margin-right: 0px;
    margin-left: auto;
 }

 #tel {
    font-size: x-large;
    font-weight: 600;
 }