*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #081828;
    --terc-color: #f2ba65;
    --quart-color: #d1a054;
    --hoover-color: #e2e2e2;
  }

 body {
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
 }

 ul{
   list-style: none;
 } 

  header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
  }

  header > a > img {
    max-width: 150px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 0px;
  }

  header > div {
    color: var(--quart-color);
    padding:15px;
    margin-left: 0px;
  }

 h1 {
    border-bottom: solid red 3px;
 }

 .info {
    color: var(--quart-color);
    padding: 25px;
    margin-right: 0px;
    margin-left: auto;
 }

 #tel {
    font-size: x-large;
    font-weight: 600;
 }
main {
    display: grid;
}


.barra {
    width: 100%;
    height: 70px;
    background-color: var(--terc-color);
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: start;
}

.buscador {
    padding: 20px;
}

.buscador > input {
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 350px;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid red;
}

 ::placeholder {
    color: grey;
 }

 .barra > a > img  {
    width: 30px;
    margin-left: 4px;  
 }

 .barra > a {
   justify-content: center;
   padding: 8px;
 }

 a {
    text-decoration: none;
 }

 a p {
    color: black;
 }

 .iconos {
    display: flex;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 10px;
 }

 .iconos a {
    padding: 10px;
 }

 .barra a:hover {
    background-color: #d1a054;
    padding: 10px;
    transition: 0.5s ease;
 }

 .iconos a img {
    width: 30px;
 }

 .iconos a li {
    color: black;
 }

 #novedades {
    width: 100%; /* Ancho del contenedor de las imágenes */
    height: 400px; /* Altura del contenedor de las imágenes */
    overflow: hidden;
    position: relative;
}

#novedades img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    transition: opacity 1s ease-in-out; /* Transición suave */
    position: absolute;
    top: 0;
    left: 0;
}

#productos {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 40px;
   padding: 80px;
}

#productos img{
   width: 100%;
   aspect-ratio: 1.1;
}

#productos img:hover{
   -webkit-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.37);
   -moz-box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.37);
   box-shadow: 2px 4px 11px 0px rgba(0,0,0,0.37);
   transition: 0.5s ease;
}

#productos h3{
   padding: 5px 10px;
}

#productos p{
   padding-left: 10px;
}

#services{
   display: flex;
   padding: 20px;
   width: 100%;
   height: 250px;
   background-color: rgb(215, 213, 213);
   justify-content:space-around;
   align-items: center;
   gap: 30px;
}

#services img{
   height: 60px;
   gap: 40px;
}

#services ul {
  padding: 20px;
}

#services ul li {
   font-size: 22px;
 }

 #payment img{
   height: 25px;
   padding: 2px;
 }
body footer{
   display: flex;
   width: 100%;
   background-color: var(--secondary-color);
   color: var(--quart-color);
   padding: 40px;
   justify-content: space-around;
}
footer section {
   border-right: #d1a054 solid 1px;
   padding: 20px;
}
body footer ul {
   list-style: none;
}

body footer li {
   color: var(--terc-color);
   padding: 10px;
}

body footer h3 {
   padding-left: 5px;
   font-size: 23px;
   padding-bottom: 10px;
}

.siguenos {
   padding: 15px;
}
.social-icon {
   color: var(--terc-color);
   font-size: 35px; 
   margin: 0 15px;
   text-decoration: none;
   transition: color 0.3s ease; 
}

.social-icon:hover {
   color: white;
}

.social-icon i:hover  {
   transform: scale(1.2);
   transition: 0.3s ease; 
}

#Copyright {
   display: flex;
   width: 100%;
   height: 60px;
   background-color: black;
   color: white;
   justify-content: center;
   align-items: center;
   
}

@media (max-width: 715px) {
  
}

