*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #081828;
    --terc-color: #f2ba65;
    --quart-color: #d1a054;
    --hoover-color: #e2e2e2;
  }